*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
body{
    margin: .5rem;
    background-image: url(./assets/amazing.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.active{
    background-color:crimson;
    color: white;
    border: 1px solid white;
}

header{
    height: 20vh;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color:black;
    margin:0 0 .5rem 0 ;
    border-radius: 7px;
   }
header>nav{
    display: flex;
    gap: 1rem;
}
header>nav>a{
    background-color:white;
    text-decoration: none;
    color: black;
    padding: .2rem 2rem;
    border-radius: .4rem;
}
header img{
   /*  width: 7rem;
    height: 4rem; */
    width: 20rem;
}
i{
    color: white;
}
.container__1{
    display: flex;
    border: 1px solid black;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.626);
    align-items: center;
    height: 20vh;
    color: white;
    
}

.container__2{
    display: flex;
   
    justify-content: space-evenly;
    align-items: center;
    gap: 10rem;
    
}
#category__container{
    display: flex;
    gap: 1rem;
    background-color:black;
    color: white;
    padding: .6rem;
    margin: 1rem;
    border-radius: 1rem;
    
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4rem 1rem 4rem 1rem;
    gap:3rem;
    width: 100vh;
    
    
}
.main__contact{
    display: flex;
    flex-direction: column;
    
    margin: 1rem 10rem;
}
.input__contact{
    height: 2rem;
}
.input__message{
    height: 8rem;
    
}
section>div>img{
    width: 15rem;
    height: 8rem;
    
    box-shadow: 3px 3px  rgba(0, 0, 0, 0.798);
    
}
.button__section{
    background-color: darkred;
    color: white;
    text-decoration: none;
    padding: .4rem;
    border-radius: 25%;
}
/* section{
    height: 21.1rem;
    width: 17rem;
    padding: 1rem ;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color:rgba(95, 158, 160, 0.289);
    background-color: black;
    
    
    
} */
section div{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    
    background-color: rgba(255, 255, 255, 0.518);
    padding: .5rem;


    
    
}
section button{
    padding: .5rem;
    background-color: rgba(0, 0, 0, 0.727);
    color:lightskyblue;
   border-radius: 1rem;
}
section h5{
    padding-top: .1rem;
}
caption{
    font-size: 2rem;
}
/* div.position__vue{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 300rem;
   width: 10rem;
} */
.position__vue section{
    display: flex;
    min-height: 100vh;
    
}
section.section__section{
    display: flex;
   width: 100%;
    min-height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
} 
section.section__section>div{
    width: 17rem;
    height: 21.1rem;
     box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
     box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; 
}
div #app{
    display: flex;
    flex-direction: column;
}
div>#app>.position__vue{
    display: flex;
    flex-direction: column;
      
     flex-wrap: wrap;
     gap: 2rem;

     
    

}
.main__detail{

    margin: 1rem 12rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    background-color: cadetblue;
}
.main__detail div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1rem;
    padding: 1rem;

}
.detail__img{
    height: 20rem;
    width: 20rem;
}
.container__stats{
    display: flex;
    flex-direction: column;
    color: white;
    
    
}
thead{
    background-color: rgba(0, 0, 0, 0.075);
}
tr,td,th{
    border:2px solid black;
    background-color: black;
    
    
    
}
caption{
    background-color: rgba(0, 0, 0, 0.454);
}
footer{
    display: flex;
    justify-content: space-between;
    padding: .5rem 5rem;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.505);
    font-size: 2rem;
    color:white;
}
footer img{
    height: 3rem;
    width: 3rem;
}

